.btn {
  // Button base
  @apply inline-flex items-center no-underline cursor-pointer;
  @media (prefers-reduced-motion: reduce) {
    @apply transition-none;
  }
}

.btn-primary {
  @apply bg-white border border-gray-400 text-gray-black;
  &:hover {
    @apply bg-blue-500 border-blue-500;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    &::before {
      @apply translate-x-0;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
    &::after {
      @apply border-blue-500;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }
  &:focus {
    @apply border-blue-500 border-blue-500;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    &::before {
      @apply translate-x-0;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
    &::after {
      @apply border-blue-500;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }
  &:disabled {
    @apply border-gray-400 bg-gray-600 text-white;
  }
  &::before {
    @apply absolute left-0 top-0 w-full h-full box-border translate-x-[-105%] bg-blue-500;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    content: '';
  }
  &::after {
    @apply absolute left-0 top-0 w-full h-full box-border;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    content: '';
  }
}

.btn-secondary {
  @apply bg-gray-black border border-gray-400 text-white;
  &:hover {
    @apply bg-blue-500 border-blue-500 text-gray-black;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    &::before {
      @apply translate-x-0;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
    &::after {
      @apply border-blue-500;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  }
  &:focus {
    @apply bg-blue-500 border-blue-500 text-gray-black;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  &:disabled {
    @apply border-gray-400 bg-gray-600 text-white;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  &::before {
    @apply absolute left-0 top-0 w-full h-full box-border translate-x-[-105%] bg-blue-500;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    content: '';
  }
  &::after {
    @apply absolute left-0 top-0 w-full h-full box-border;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    content: '';
  }
}

.btn-slider {
  @apply bg-gray-100 bg-no-repeat rounded-full bg-center w-9 h-9 transition-all duration-200 ease-in-out;
  border: 2px solid #686f78;
  &:hover {
    @apply bg-gray-black;
  }
  &.btn-prev {
    background-image: url('/images/icons/arrow-left-slider.svg');
    &:hover {
      background-image: url('/images/icons/arrow-left-white-slider.svg');
    }
  }
  &.btn-next {
    background-image: url('/images/icons/arrow-right-slider.svg');
    &:hover {
      background-image: url('/images/icons/arrow-right-white-slider.svg');
    }
  }
}
